<div class="site-section bg-light" id="features">

    <div class="container">

       

            <div id="yf">

                <h2>Yoga Features</h2>
            </div>

    
        <br />  
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="text-center item">

                    <img src="~/images/peaceofmind.jpg" width=100 height=100 />

                    <h2 class="h5">Peace of Mind</h2>

                    <p>Health is wealth.Peace of Mind is Happiness.Yoga is stilling of fluctuation of mind..</p>

                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="text-center item">

                    <img src="~/images/mindfullness.jpg" width=100 height=100 />

                    <h2 class="h5">Mindfullness</h2>

                    <p>A peaceful mental state achieved by focusing one's awareness on the present moment.Yoga helps you to achieve this.</p>

                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="text-center item">

                    <img src="~/images/meditation.jpg" width=100 height=100 />

                    <h2 class="h5">Meditation</h2>

                    <p>Meditation is the form of Yoga that doesn't helps you to control your thoughts,it's to stop letting them control you.</p>

                </div>

            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="text-center item">

                    <img src="~/images/yogaart.jpg" width=100 height=100 />

                    <h2 class="h5">Yoga as an Art</h2>

                    <p>Yoga is the art work of awareness on the canvas of body,mind,and soul.</p>

                </div>

            </div>

        </div>

    </div>

</div>



