
@{
    ViewBag.Title = "About Us...";
}

@*<h2 style="font-size:40px;"><b>@ViewBag.Title.</b></h2>*@
<img src="~/images/abt.jpg" width="1100" height="400">

<div id="about">
    <div class="site-section site-section-sm">

        <div class="container">

            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">
                    <div id="heading">
                        <h2 style="text-align:center; ">

                            <b>Our Philosophy and Concept of Yoga...</b>

                        </h2>
                        <br>
                        <br>
                        <marquee width="100%" direction="right" height="100px">
                            <h4 id="m">   May We Nourish all with Health and Happiness through Holistic Yoga.</h4>
                        </marquee>
                    </div>

                    <p id="yui_3_17_2_1_1583571289181_407" style="white-space:pre-wrap;text-align:left;">

                        YogaMed is a non-profit website with a vision of enhancing Health and Happiness and replacing chemical medicines with Yoga Medicines. &amp;

                        Healthy and peaceful life through a holistic approach to yoga.
                    </p>

                    <p style="text-align:left;">

                        We are a group of 4 .net trainees at <a href="https://www.niit-tech.com/" target="_blank">NIIT Technologies</a>, Greater Noida, India.

                        We are developing this website for our group project task during our training period with the view of recommending Yoga in place of medicines for related disaeses.

                    </p>

                    <p id="yui_3_17_2_1_1583571289181_400" style="white-space:pre-wrap;text-align:left;">

                        <h3>Vision</h3>: May We Nourish all with Health and Happiness through Holistic Yoga.

                        <h3>Mission</h3>: To serve the community by:

                        1) recommending yoga to replace medicines to support a healthy lifestyle.

                        2) suggesting yoga techniques to enable transformation of the self and the society.

                        3) Promoting yoga and its benefits through this website.
                    </p>

                    <p style="white-space:pre-wrap;text-align:left;"><h3>What is Yoga?</h3></p>

                    <p id="yui_3_17_2_1_1583571289181_417" style="white-space:pre-wrap;">

                        Developed by the ancient Hindu sages in the Indian subcontinent, yoga is a psycho-somatic discipline with its roots going back over 5,000 years.
                        The word “yoga” means “union” and hints at the final goal of yoga practice–to be in union with one's true nature or Atman at every level of existence.
                        The atman, or one’s true nature, is a fragment of the all-pervasive Spirit or Brahman.
                        This goal is to be achieved by following practices developed as a part of an integrated and holistic system for health and human wellness.

                    </p>

                    <p style="white-space:pre-wrap;text-align:left;">
                        Today, most of the yoga practice in the West focuses on physical postures called Asanas.
                        However, yoga has much deeper applications and helps to promote health and happiness from the individual (Vyashti) to the societal level (Samashti).
                        It is a complete system of suggested practices based on an individual's native personality (prakrithi), inclinations (vasanas) and lifestyle.
                        Indeed, the deeper one delves in the study of yoga, the more one uncovers the flexibility and richness of its traditions in achieving complete wellness.

                    </p>

                    <p id="yui_3_17_2_1_1583571289181_426">
                        <h3 id="yui_3_17_2_1_1583571289181_425">Ashtanga Yoga - The Eight Limbs </h3>
                    </p>

                    <p style="white-space:pre-wrap;text-align:left;">
                        Patanjali, the father of yoga, suggested that the practice of yoga be conducted in eight limbs-- popularly known as Ashtanga Yoga.
                        Ashtanga Yoga gives a comprehensive and systematic approach for developing the mind. This approach includes Yama (guidelines for ethical relationships), Niyama (guidelines for ethical personal living), Asana (postures), Pranayama (controlled and deliberate breathing patterns), Prathyahara (withdrawal of mind from distractions), Dhyana (focus of the mind upon goal), dharana (the expansion of focused mind into everyday life) and samadhi (an establishment of balance and harmony in living).
                        Through the practice of these principles, one may experience yoga--a connection with our true self.
                    </p>
                </div>


                <div class="col-lg-4">

                    <div>

                        <img src="~/images/yoga7.jpg" width=340 height=300 id="img" />
                        <br>
                        <br>

                        <div id="med">



                            <h3 style="white-space:pre-wrap;">Yoga As Medicine</h3>

                            <p style="white-space: pre-wrap;">We believe yoga as a complete holistic practice for self-growth and self-transformation. Yoga&nbsp; has shown to improve quality of life and can accelerate healing of the chronic conditions resulting from modern lifestyle and stress. </p>

                            <div class="col sqs-col-6 span-6">
                                <div class="sqs-block html-block sqs-block-html" id="block-yui_3_17_2_8_1471829231921_12812" data-block-type="2">
                                    <div class="sqs-block-content">
                                        <p style="white-space:pre-wrap;"><h3>Yogic Concept of Disease and Stress</h3></p><p style="white-space:pre-wrap;">The fundamental Yogic belief is that disease is a disturbance in the naturally healthy and well-functioning human mechanism. These disturbances occur at five levels of human existence--also known as the Pancha Kosha:</p><p style="white-space:pre-wrap;">1. The physical sheath (annamaya kosha)– body with its visible parts such as the skeletal, muscular, glandular systems</p><p style="white-space:pre-wrap;">2. The vital energy sheath (pranamaya kosha) - &nbsp;constitutes prana responsible for all physiology</p><p style="        white-space: pre-wrap;
">3. The mind sheath (manomaya kosha): which carries on the functions of perception, memory and emotions</p><p style="white-space:pre-wrap;">4. The intellect sheath (vijyanamaya kosha) - that which discriminates the right from the wrong and helps us make right choices.</p><p style="white-space:pre-wrap;">5. A state of awareness (anadamaya kosha): a state of existence that is free from thoughts and emotions</p>
                                    </div>
                                </div>
                            </div>


                            <b>To Learn More About Yoga <a href="https://www.medicalnewstoday.com/articles/286745#risks-and-side-effects">CLICK HERE</a></b>
                        </div>
                        <br>
                        <img src="~/images/yoga5.jpg" width=340 height=300 id="img" />


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>

<div id="slogan">

    <h1 style="font-family:'Century Schoolbook'; color:darkcyan; background-color:white;"> <img src="~/images/team.jpg" alt=".fsfsfsfdf" style="height:5rem;"><b><i>OUR TEAM MEMBERS....</i></b></h1>
    <br>
    <div class="row" id=pics>

        <div class="col-md-3">

            <div class="card" style="width: 14rem;">

                <img src="~/images/ankita.jfif" class="card-img-top" alt=".fsfsfsfdf" style="height:12rem;">

                <div class="card-body">

                    <h5 class="card-title">Ankita Sharma</h5>

                    <!-- <p class="card-text">The body is your temple.Keep it pure and clean for the soul to reside in.</p> -->

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card" style="width: 14rem; ">

                <img src="~/images/biswa.jfif" class="card-img-top" alt=".fsfsfsfdf" style="height:12rem;">

                <div class="card-body">

                    <h5 class="card-title">S.B Patro</h5>

                    <!-- <p class="card-text">Remedy of all illnesses lies in yoga and healthy lifestyle.</p> -->

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card" style="width: 14rem;">

                <img src="~/images/sadhana.jpeg" class="card-img-top" alt=".fsfsfsfdf" style="height:12rem;">

                <div class="card-body">

                    <h5 class="card-title">Sadhana Bharati</h5>

                    <!-- <p class="card-text">Slow down,Calm down.<br>Don't worry,Don't hurry.<br>Trust the process</p> -->

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card" style="width: 14rem;">

                <img src="~/images/swati.jpeg" class="card-img-top" alt=".fsfsfsfdf" style="height:12rem;">

                <div class="card-body">

                    <h5 class="card-title">Swati</h5>

                    <!-- <p class="card-text">Slow down,Calm down.<br>Don't worry,Don't hurry.<br>Trust the process</p> -->

                </div>

            </div>

        </div>
    </div>
</div>
<br />
<br />
