
@{
    ViewData["Title"] = "Contact";
}


<div class="row" id="bkg">

    <div class="site-blocks-cover overlay ">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 text-center" data-aos="fade">

                    <h1 style="color:white;">Contact Us Here...</h1>

                </div>
            </div>
        </div>
    </div>

    <br>
    <br>


    <div class="row">

        <div class="col-md-6">
            <div class="p-4 mb-5 bg-white">
                <img src="~/images/add.jpg" />
                <br>

                <p class="mb-0 font-weight-bold">Address</p>
                <p class="mb-4">
                    NIIT Technologies

                    SEZ Developer Unit

                    Plot No. TZ-2 & 2A, Sector Tech Zone,

                    Greater Noida, UP 201308
                </p>

                <p class="mb-0 font-weight-bold">Phone</p>
                <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

                <p class="mb-0 font-weight-bold">Email Address</p>
                <p class="mb-0"><a href="#">yogamed@gmail.com</a></p>
                <br>
                <img src="~/images/post.jpg" />
            </div>


        </div>


        <div class="col-md-6 col-md-offset-2">
            <img src="~/images/gita.jpg" class="card-img-top" alt=".fsfsfsfdf" style="height:43.3rem">
        </div>
    </div>
</div>




