@{
    ViewData["Title"] = "Home Page";
}
<div class="site-block-half d-flex" style="background-color:lightgray;border-width:3px ;border-radius:15px;darkslategrey;width:1110px;height:400px;">

    <div class="text">
        <h1 style="font-family:'Century Schoolbook'; color:black; background-color:mediumaquamarine; border-top-right-radius:15px"> <img src="~/images/yogaicon.png" alt=".fsfsfsfdf" style="height:4rem; border-top-left-radius:15px;"><b><i>Welcome To <span style="color:#ff6a00">YogaMed....</span></i></b></h1>

        <br>
        <br>
        <div class="sqs-block-content">
            <h2 style="text-align:center;white-space:pre-wrap; color:darkred;"><img src="~/images/newlogo.jfif" width="60" height="60"></h2>
            <h3 style="text-align:center;white-space:pre-wrap; color:darkred;"><u>Our Aim</u></h3><h4 style="text-align:center; color:#000000">
                YogaMed serves with a goal to induce a paradigm shift in our community. We believe in focusing on developing an awareness about that the greatness and benefits of Yoga.
                . We help our clients focus on the big picture and develop a new outlook on life and health through Yoga.Our aim is to <b><i>"Replace Chemical Medicines With Yoga".</i></b>
            </h4>
        </div>
    </div>


</div>

<br>
<div class="row" id="cr">

    <div class="col-md-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block" id="cap">
                        <h2><u>HOLISTIC APPROACH TO YOGA</u></h2>
                        <p id="c">At YogaMed, we believe that all souls are potentially divine. Thus, we actively seek to return you to your true divine nature at all levels: physical emotional, social, intellectual and spiritual. To this end, we provide opportunities for growth in four specific areas: selfless work (karma), devoted living (bhakti), psychic control (raja) and mindful contemplation (jnana).</p>
                    </div>
                    <video autoplay muted loop id="myVideo">
                        <source src="~/images/vid1.mp4" type="video/mp4" class="d-block w-100" alt="..." width="600" height="600">
                    </video>


                </div>
                <div class="carousel-item ">
                    <video autoplay muted loop id="myVideo">
                        <source src="~/images/vid2.mp4" type="video/mp4" class="d-block w-100" alt="..." width="600" height="600">
                    </video>

                    <div class="carousel-caption d-none d-md-block" id="cap">
                        <h2><u>YOGA IS A SCIENCE</u></h2>
                        <p id="c">At YogMed we believe that,Yoga Is Not a religion,It is a Science,science of well-being,science of youthfullness,science of integratng body,mind and soul. </p>
                    </div>

                </div>

                <div class="carousel-item">
                    <video autoplay muted loop id="myVideo">
                        <source src="~/images/vid3.mp4" type="video/mp4" class="d-block w-100" alt="..." width="600" height="600">
                    </video>

                    <div class="carousel-caption d-none d-md-block" id="cap">
                        <h2><u>YOGA AS A HABIT</u></h2>
                        <p id="c">Find Happiness within nature and yourself. For a healthy and peaceful life, We at YogaMed want to you to make Yoga a Habit!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <video autoplay muted loop id="myVideo">
                        <source src="~/images/vid4.mp4" type="video/mp4" class="d-block w-100" alt="..." width="600" height="600">
                    </video>

                    <div class="carousel-caption d-none d-md-block" id="cap">
                        <h2><u>YOGA IS A NATURAL STATE</u></h2>
                        <p id="c">You cannot do yoga.Yoga is your natural state.What you can do is yoga exercises,which may reveal to you where you are resisting your natural state.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <video autoplay muted loop id="myVideo">
                        <source src="~/images/vid5.mp4" type="video/mp4" class="d-block w-100" alt="..." width="600" height="600">
                    </video>

                    <div class="carousel-caption d-none d-md-block" id="cap">
                        <h2><u>YOGA IS A LIGHT</u></h2>
                        <p id="c">Yoga is a light, which once lit will never dim. The better you practice, the brighter the flame.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <video autoplay muted loop id="myVideo">
                        <source src="~/images/vid6.mp4" type="video/mp4" class="d-block w-100" alt="..." width="600" height="600">
                    </video>

                    <div class="carousel-caption d-none d-md-block" id="cap">
                        <h2><u>YOGA IS THE ART</u></h2>
                        <p id="c">Yoga is the art work of awareness on the canvas of body, mind, and soul.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


</div>


<br />

<br />
<br />
<div id="slogan">
    <h1 style="font-family:'Century Schoolbook'; color:black; background-color:mediumaquamarine;"> <img src="~/images/yogaicon.png" alt=".fsfsfsfdf" style="height:5rem;"><b><i>What People Say....</i></b></h1>
    <br>
    <div class="row" id=pics>

        <div class="col-md-6">

            <div class="card" style="width:32rem; height:28rem;">

                <a href="https://www.look4wardstore.com/blogs/news/where-buddhism-and-yoga-meet"><img src="~/images/buddh.png" class="card-img-top" alt=".fsfsfsfdf" style=" height:20rem;"></a>

                <div class="card-body">

                    <h5 class="card-title">Buddha</h5>

                    <p class="card-text">Mindfulness of the body leads to nirvana.</p>

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card" style="width:32rem; height:28rem;">

                <a href="https://www.astrosage.com/yoga/baba-ramdev-yoga.asp"><img src="~/images/baba-ramdev-990x556.jpg" class="card-img-top" alt=".fsfsfsfdf" style=" height:20rem;"></a>

                <div class="card-body">

                    <h5 class="card-title">Swami Ramdev</h5>

                    <p class="card-text">Remedy of all illnesses lies in yoga and healthy lifestyle.</p>

                </div>

            </div>

        </div>
    </div>
    <br>
    <div class="row" id=pics>

        <div class="col-md-6">

            <div class="card" style="width:32rem; height:28rem;">

                <a href="https://www.newyorker.com/business/currency/iyengar-invention-yoga"><img src="~/images/BKS.jpg" class="card-img-top" alt=".fsfsfsfdf" style=" height:20rem;"></a>

                <div class="card-body">

                    <h5 class="card-title">B.K.S Iyengar</h5>

                    <p class="card-text">The body is your temple.Keep it pure and clean for the soul to reside in.</p>

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card" style="width:32rem; height:28rem;">

                <a href="https://timesofindia.indiatimes.com/life-style/food-news/shilpa-shettys-easy-yoga-and-diet-tips-to-lose-weight/photostory/69889886.cms?picid=69889908"><img src="~/images/shilpa2-crop.jpg" class="card-img-top" alt=".fsfsfsfdf" style=" height:20rem;"></a>

                <div class="card-body">

                    <h5 class="card-title">Shilpa Shetty Kundra</h5>

                    <p class="card-text">I don't do it just to look younger,I have adapted Yoga as a way of living.</p>

                </div>

            </div>

        </div>

    </div>
</div>
